In [5]:
point = (7, 9)

In [6]:
point [0]  # tuples are fixed / immutable you can't change their values once fixed

7

In [11]:
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb # this or (pe, pb) returns tuples

In [17]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 5, 4)

In [18]:
pe_ratio

20.0

In [19]:
pb_ratio

25.0

In [24]:
contacts = [('sheldon', 8575485967), ('leonard', 7841595748), ('penny', 8745878485)]

In [25]:
for contact in contacts:
    if contact[0] == 'leonard':
        print(contact[1])

7841595748

In [29]:
d = {
    'sheldon': 8575485967,
    'leonard': 7841595748,
    'penny': 8745878485 
} 
d                                 # {} define dictionary and it comes in key value pair

{'sheldon': 8575485967, 'leonard': 7841595748, 'penny': 8745878485}

In [32]:
d ['leonard']

7841595748

In [34]:
d.get('sheldon')

8575485967

In [36]:
d.get('bb',0)

0

In [37]:
d['penny']

8745878485

In [39]:
d['penny'] = 8564785145
d

{'sheldon': 8575485967, 'leonard': 7841595748, 'penny': 8564785145}

In [40]:
d['howard'] = 9578456523
d

{'sheldon': 8575485967,
 'leonard': 7841595748,
 'penny': 8564785145,
 'howard': 9578456523}

In [41]:
del d['howard']
d

{'sheldon': 8575485967, 'leonard': 7841595748, 'penny': 8564785145}

In [42]:
'satyam' in d

False

In [43]:
'penny' in d

True

In [49]:
f = {
    
    'ronaldo': { 'phone':7845956525, 'address': 'portugal/spain/Italy' },
    'messi': { 'phone':4578984595, 'address': 'argentina/spain/usa' }
}
f

{'ronaldo': {'phone': 7845956525, 'address': 'portugal/spain/Italy'},
 'messi': {'phone': 4578984595, 'address': 'argentina/spain/usa'}}

In [51]:
f['ronaldo']['phone']

7845956525

In [58]:
d = {
    'sheldon': 8575485967,
    'leonard': 7841595748,
    'penny': 8745878485 
} 
d

{'sheldon': 8575485967, 'leonard': 7841595748, 'penny': 8745878485}

In [66]:
for name in d:
    print(name, d[name])

sheldon 8575485967
leonard 7841595748
penny 8745878485

In [67]:
for name, number in d.items():
    print(name, number)

sheldon 8575485967
leonard 7841595748
penny 8745878485

In [68]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [69]:
d

{'sheldon': 8575485967, 'leonard': 7841595748, 'penny': 8745878485}

In [77]:
d.keys()

dict_keys(['sheldon', 'leonard', 'penny'])

In [79]:
list(d.keys())

['sheldon', 'leonard', 'penny']

In [80]:
d.values()

dict_values([8575485967, 7841595748, 8745878485])